Source: pi-apps-cli
Section: utils
Priority: optional
Maintainer: Ryan Fortner <ryankfortner@gmail.com>
Build-Depends: cmake, debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/ryanfortner/pi-apps-cli

Package: pi-apps-cli
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Pi-Apps CLI client written in C 
 This is a command-line client for the Pi-Apps project.